<div class="container">
    <h1>Edge of the Empire mass roll simulator</h1>
    <p>This tool simulates as many rolls as you want, of the dice pool you want, then tells you the statistics of the roll. Keep in mind this is simulation not prediction so there will be a variance between the outputs. I reccomend trying 10,000 checks maybe even 100,000.</p>
    <div class="usa-grid-full">
        <div class="lf-char-stats usa-width-one-half">
            <p>
                <label for="inChecks">Number of checks to roll:</label>
                <input id="inChecks" type="number" ng-model="numChecks" />
            </p>
            <hr />

            <h2>Player dice</h2>
            <div class="usa-grid-full">
                <div class="usa-width-one-half">
                    <p><label for="inYellow">Yellow:</label></p>
                    <p><label for="inGreen">Green:</label></p>
                    <p><label for="inBlue">Blue:</label></p>
                </div>
                <div class="usa-width-one-half">
                    <p><input id="inYellow" type="number" ng-model="numYellowDice" /></p>
                    <p><input id="inGreen" type="number" ng-model="numGreenDice" /></p>
                    <p><input id="inBlue" type="number" ng-model="numBlueDice" /></p>
                </div>
            </div>
            <hr />

            <h2>Opposing dice</h2>
            <div class="usa-grid-full">
                <div class="usa-width-one-half">
                    <p><label for="inRed">Red:</label></p>
                    <p><label for="inPurple">Purple:</label></p>
                    <p><label for="inBlack">Black:</label></p>
                </div>
                <div class="usa-width-one-half">
                    <p> <input id="inRed" type="number" ng-model="numRedDice" /></p>
                    <p><input id="inPurple" type="number" ng-model="numPurpleDice" /></p>
                    <p> <input id="inBlack" type="number" ng-model="numBlackDice" /></p>
                </div>
            </div>
            <hr />

            <button class="button" ng-click="calculateStatistics()">Roll all the things!</button>
        </div>

        <div class="lf-char-stats usa-width-one-half">
            <h2>Results</h2>
            <div class="usa-grid-full">
                <div class="usa-width-one-third">
                    <h3>Resource</h3>
                    <hr />
                    <p>Success</p>
                    <p>Advantage</p>
                    <p>Triumph</p>
                    <p>Failure</p>
                    <p>Threat</p>
                    <p>Despair</p>
                </div>
                <div class="usa-width-one-third">
                    <h3>Total</h3>
                    <hr />
                    <p>{{totalSuccess}}</p>
                    <p>{{totalAdvantage}}</p>
                    <p>{{totalTriumph}}</p>
                    <p>{{totalFailure}}</p>
                    <p>{{totalThreat}}</p>
                    <p>{{totalDespair}}</p>
                </div>
                <div class="usa-width-one-third">
                    <h3>Average</h3>
                    <hr />
                    <p>{{averageSuccess | number : 2}}</p>
                    <p>{{averageAdvantage | number : 2}}</p>
                    <p>{{averageTriumph | number : 2}}</p>
                    <p>{{averageFailure | number : 2}}</p>
                    <p>{{averageThreat | number : 2}}</p>
                    <p>{{averageDespair | number : 2}}</p>
                </div>
            </div>
            <p>Passed Checks: {{totalPasses}} out of {{numChecks}}</p>
            <p>Passed Rate: {{averagePasses | number : 2}} %</p>
        </div>
    </div>
</div>
