<div class="container">
    <div class="usa-grid-full">
        <div class="lf-char-stats usa-width-one-half">
            <h2>number of checks</h2>
            <label for="inChecks">Yellow:</label>
            <input id="inChecks" ng-model="numChecks" />
            <hr/>

            <h2>Player dice</h2>
            <label for="inYellow">Yellow:</label>
            <input id="inYellow" ng-model="numYellowDice" />

            <label for="inGreen">Green:</label>
            <input id="inGreen" ng-model="numGreenDice" />

            <label for="inBlue">Blue:</label>
            <input id="inBlue" ng-model="numBlueDice" />
            <hr/>

            <h2>Opposing dice</h2>
            <label for="inRed">Red:</label>
            <input id="inRed" ng-model="numRedDice" />

            <label for="inPurple">Purple:</label>
            <input id="inPurple" ng-model="numPurpleDice" />

            <label for="inBlack">Black:</label>
            <input id="inBlack" ng-model="numBlackDice" />
            <hr />

            <button class="button" ng-click="calculateStatistics()">Roll all the things!</button>
        </div>

        <div class="lf-char-stats usa-width-one-half">
            <h2>Results</h2>
            <div class="usa-grid-full">
                <div class="usa-width-one-third">
                    <h3>Resource</h3>
                    <hr />
                    <p>Success</p>
                    <p>Advantage</p>
                    <p>Triumph</p>
                    <p>Failure</p>
                    <p>Threat</p>
                    <p>Despair</p>
                </div>
                <div class="usa-width-one-third">
                    <h3>Total</h3>
                    <hr />
                    <p>{{totalSuccess}}</p>
                    <p>{{totalAdvantage}}</p>
                    <p>{{totalTriumph}}</p>
                    <p>{{totalFailure}}</p>
                    <p>{{totalThreat}}</p>
                    <p>{{totalDespair}}</p>
                </div>
                <div class="usa-width-one-third">
                    <h3>Average</h3>
                    <hr />
                    <p>{{averageSuccess}}</p>
                    <p>{{averageAdvantage}}</p>
                    <p>{{averageTriumph}}</p>
                    <p>{{averageFailure}}</p>
                    <p>{{averageThreat}}</p>
                    <p>{{averageDespair}}</p>
                </div>
            </div>
            <p>Passed Checks: {{totalPasses}} out of {{numChecks}}</p>
            <p>Passed Rate: {{averagePasses}} %</p>
        </div>
    </div>
</div>